      <!-- Meet The Team-->
      {%load static%}
{% load mptt_tags %}
<head>
  <title>{{site_footer.sitename}}</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="{{site_favicon}}" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{%url 'index' %}"><img src="{{site_footer.site_logo.url}}" alt="" width="223" height="50"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <head>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
                    </head>

                    <ul class="rd-navbar-nav">
                        <li class="nav-item dropdown">
                        {% recursetree menu %}
                        {%if node.menu_activate%}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{{node.menu_url}}">{{node.menu_name}}</a></li>                             
                        {%else%}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="http://127.0.0.1:8000/{{node.menu_url}}">{{node.menu_name}}</a></li>                             
                        {%endif%}
                        {% endrecursetree %}
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      
      
      
      <section class="section section-sm section-fluid bg-default" id="team">
        <div class="container-fluid">
          <h2>Takım Üyeleri</h2>
          <div class="row row-sm row-30 justify-content-center">
          {%for teams in team%}
            <div class="col-md-6 col-lg-5 col-xl-4 wow fadeInRight">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="{{teams.image.url}}" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">{{teams.Name}}</a></h4>
                  <p class="team-classic-status">{{teams.description}}</p>
                </div>
              </article>
            </div>
            {%endfor%}
          </div>
        </div>
      </section>

      <script src="{% static 'css/rd-navbar.css' %}"></script>
      <script src="{% static 'js/core.min.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <!-- coded by Himic-->
      <!-- Page Footer-->
      {%if footer%}
      <footer class="section section-fluid footer-minimal context-dark">
          <div class="bg-gray-15">
            <div class="container-fluid">
              <div class="footer-minimal-inset oh">
                <ul class="footer-list-category-2">
                  {%for footer in footer%}
                  <li><a href="http://127.0.0.1:8000/{{footer.menu_url}}">{{footer.menu_name}}</a></li>
                  {%endfor%}
                </ul>
              </div>
              <div class="footer-minimal-bottom-panel text-sm-left">
                <div class="row row-10 align-items-md-center">
                  <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                    <div>
                      <ul class="list-inline list-inline-sm footer-social-list-2">
                        {%if site_footer.facebook_url%}
                        <li><a class="icon fa fa-facebook" href="{{site_footer.facebook_url}}"></a></li>
                        {%endif%}
                        {%if site_footer.twitter_url%}
                        <li><a class="icon fa fa-twitter" href="{{site_footer.twitter_url}}"></a></li>
                        {%endif%}
                        {%if site_footer.instgram_url%}
                        <li><a class="icon fa fa-instagram" href="{{site_footer.instgram_url}}"></a></li>
                        {%endif%}
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 order-sm-first">
                    <!-- Rights-->
                    
                  </div>
                  {%if site_footer.copyright%}
                  <div class="col-sm-6 col-md-4 text-md-right"><span>{{site_footer.copyright}}</span>
                  {%endif%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      {%endif%}
      </div>
      <div class="snackbars" id="form-output-global"></div>
      </body>
      </html>